{% extends "layout.html" %}

{% block title %}Prototype{% endblock %}

{% block content %}
    <div class="row">
        <form method="post" action="{{ url_for('api_parse_sentence') }}" id="parse-sentence-form">
            <div class="col-md-8">
                <input type="text" name="sentence" class="form-control" placeholder="Jan is punishable because Jan is a thief.">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Parse</button>
            </div>
        </form>
    </div>

    <div class="row">
        <h2>Parses</h2>
        <div id="parses"></div>
    </div>

    <div class="row">
        <h2>Example sentences</h2>
        <ul id="example-sentences">
            <li>Jan is punishable because Jan is a thief.</li>
            <li>Thieves are punishable.</li>
            <li>Jan is punishable because Jan is a thief and thieves are punishable.</li>
            <li>Jan is punishable because thieves are punishable and Jan is a thief.</li>
        </ul>
    </div>

{% endblock %}