{% extends "layout.html" %}

{% block title %}Prototype{% endblock %}

{% block content %}
    <div class="row">
        <h2>Parses</h2>
        <div id="parses"></div>
    </div>

    <div class="row">
        <h2>Example sentences <button class="btn btn-default btn-xs test-all-sentences">Test all</button></h2>
        <ul id="example-sentences">
            {% for section, sentences in sections.items() %}
                <li>{{ section }} <button class="btn btn-default btn-xs test-all-sentences">Test section</button></li>
                <ul>
                    {% for sentence in sentences %}
                    <li><span class="example-sentence">{{ sentence }}</span></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>

{% endblock %}