.predicate,
.literal
{
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
}

.token {
    display: inline-block;
    padding: 2px;
}

.token:hover {
    text-decoration: underline;
}

ul.supports li:before {
	content: 'Support:';
}

ul.attacks li:before {
	content: 'Attack:';
}

.network {
	width: 100%;
	height: 300px;
}