body {
	padding-top: 70px;
}

#example-sentences li.example-sentence {
    cursor: pointer;
}

#example-sentences li.example-sentence:hover {
    text-decoration: underline;
}

#example-sentences {
	list-style: none;
	padding: 0;
}

.bounding-box div {
    border: 1px solid #ccc;
}

button.edit-sentence,
button.repeat-sentence {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

button.edit-sentence > span.glyphicon,
button.repeat-sentence > span.glyphicon {
	font-size: 12px;
}

button.edit-sentence:hover,
button.repeat-sentence:hover {
	opacity: .5;
}

button.close,
button.edit-sentence,
button.repeat-sentence {
	margin-left: 6px;
}