#example-sentences li.example-sentence {
    cursor: pointer;
}

#example-sentences li.example-sentence:hover {
    text-decoration: underline;
}

#example-sentences {
	list-style: none;
	padding: 0;
}

.bounding-box div {
    border: 1px solid #ccc;
}